body {
	font-family: 'Lato', sans-serif;
}
.logo {
	margin: 15px 0px 15px 0px;
}
.top-links {
	padding-top: 25px;
}
.brand-custom {
	padding: 10px !important;
}
.doubleUnderline {
    text-decoration:underline;
    border-bottom: 1px solid #000;
}