html {
    height: 100%;
}

body {
    background: rgb(21, 35, 60) url('../img/bg_960.png') no-repeat top left;
    height: 100%;
    padding: 0;
}

h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: table;
}

.container {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.form-signin {
    max-width: 330px;
    padding: 25px;
    margin: 0 auto 100px auto;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
    text-align: center;
}

.form-signin .form-signin-heading h2 {
    color: white;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#logo {
    width: 75px;
}

.btn {
    background-color: steelblue;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}