body {
	padding-bottom: 70px;
}
.big {
	font-size: 5em;
	color: white;
}
.money-boxes {
	padding-top: 70px;
	background-color: #15233c;
}
.well {
	background-color: #434f64;
	border: 0px;
}
.well h1 {
	color: #b0b3b7;
	margin-bottom: 0px;
}